body {
    background:rgb(209, 5, 5);
    
  }

.pokemonNavbarImage {
    height: 50px;
    width: 50px;
  }

.aboutPokemon {
    margin: 20px;
    color: white;
    font-size: 50px;
}

.wikiPokemon {
  color: white;
  margin: 10px;
}

.btn-secondary {
  margin: 20px;
}

#pokemonHere {
  margin: 20px;
  font-size: 7px;
  color: white;
}

.row-cols-2 {
  color: white;
  border: 5px;
}
