body {
  background:rgb(209, 5, 5);
  
}

.header h2 {
	color: gold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(0, 57, 180);
  
}


.header p {
	color: white;
}

.results {
	margin-top: 20px;
}

.watchlist-link {
	color:gold;
	margin-bottom:40px;
	margin-top:25px;
}

.watchlist-link:hover {
	color:yellow;
	margin-bottom:40px;
	margin-top:25px;
}


.cardStyle {
    width: 45%;
	margin-bottom: 10px;
	border:10px solid gold;
    border-radius:10px;
    
	
}

#pokemon-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: start;
    flex-direction: row;
   
	
}

.card-img-top {
  height:400px;
  border-color:  gold;
  border-style: solid;
  border-width: 0px 0px 10px 0px;
}

h3 {
  color: white;
}

.input-group-btn {
  background-color:gold;
  color: rgb(0, 57, 180);
  border-radius: 0px 10px 10px 0px;
  border-color:white;
  transition-duration: 0.2s;
  

}
   .input-group-btn:focus{
       border-color: white;
        box-shadow: 0 0 0 0.2rem white!important;
        background-color:rgb(0, 57, 180)!important;
        color:white!important;
        
    }


.input-group-btn:hover { 
  color: white; 
  background-color:rgb(0, 57, 180);
  border-color:gold!important;
  transition-duration: 0.2s;
  } 
  
  #random {
    border-radius: 20px 20px 20px 20px;
    margin: 30px 0px 30px 0px;
    width: 150px;
    height: 40px;
  }

  
.copyright {
  color: white;
  text-align: center;
}


.pokemonNavbarImage {
  height: 50px;
  width: 50px;
}

.nav-link {
  color: white;
}


#battleMain {

}

#rocketGif {
  border: 1px solid black;
}

.butPick {
  margin: 3px;
  border: 2px solid blue;
  
  background-color: blue;
  color: white;
}

.butPick:hover {
  background-color: darkblue;
  color: white;
  outline: 2px solid red;
  outline-offset: -6px;
}

.butPick.down {
  background-color: navy;
}

.butPick.down:hover {
  background-color: black;
  outline: 2px solid white;
  outline-offset: -6px;
  border: 2px solid black;
}